body {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pics {
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 18px;
  padding-right: 18px;
}

h1 {
  text-align: center;
  font-size: 32px;
  color: black;
  line-height: 38.4px;
}

h2 {
  font-size: 16px;
  color: black;
  line-height: 18px;
  padding-top: 5px;
}

p {
  font-size: 16px;
  color: black;
  padding-right: 30px;
  line-height: 18px;
  overflow: hidden;
}

.carousel {
  /* display: flex; */
  flex-direction: row;
}

.slide-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: #f2f2f2;
  width: 500px;
  margin: 0 0% 0%;
}

.left-arrow, .right-arrow {
  height: 60px;
  width: 60px;
  display: flex;
}

button {
  /* display: flex; */
  align-content: center;
  white-space: none;
  height: 60px;
  width: 60px;
  padding: 0;
  margin: 0;
}

.slide {
  width: 500px;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0;
  transition: left 1s;
}

p {
  display: flex;
  /* flex-direction: column; */
  /* width: 290px; */
  /* margin: 0; */
  padding-right: 15px;
}

/* button {
  height: 50px; */
  /* margin: 100px 0% 0%;
} */

.hidden {
  visibility: hidden;
}
